.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $offWhite;
    padding: 10px 25px;
    border-bottom: 2.5px solid $wine;
    box-shadow: 0 2px 2px -2px gray;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    @media only screen and (max-width: 800px) {
        z-index: 1;
      }
    &__logo {
        height: 4rem;
        object-fit: cover;
        cursor: pointer;
    }
}

#primary-menu {
    display: flex;
    @media only screen and (max-width: 800px) {
        display: none;
       }
    li a{
        margin-right: 0.7rem;
        color: $black;
        font-weight: 400;
        position: relative;
        &:hover:after {
        content: '';
        position: absolute;
        width: 0; 
        height: 2.5px;
        display: block;
        margin-top: 5px;
        }
    }
}

.search-icon {
    height: 1.2rem;
    cursor: pointer;
    @media only screen and (max-width: 800px) {
        display: none;
      }
}


.close-icon {
    height: 1.2rem;
    cursor: pointer;
    display: none;
}

.search-form {
    display: none;
    .search-field {
        border: none;
        outline: none;
        border-bottom: 1px solid $wine;
        padding-bottom: 5px;
        background-color: transparent;
    -webkit-appearance: none; /* add this */
    }
    button {
    border: none; /* add this */
    }
}

.hamburger-menu {
    height: 2rem;
    cursor: pointer;
    display: none;
    @media only screen and (max-width: 800px) {
        display: block;
      }
}

.mobile-navigation {
    display: none;
    @media only screen and (max-width: 800px) {
        position: fixed;
        top: 0;
        left: 0;
        background-color: $offWhite;
        width: 100%;
        height: 100%;
        z-index: 5;
        text-align: center;
        left: 0;
        -webkit-animation: slideIn 800ms forwards;
        -moz-animation: slideIn 800ms forwards;
        animation: slideIn 800ms forwards;
        overflow-x: hidden;
      #primary-menu {
          display: flex;
          flex-direction: column;
          margin-top: 2rem;
          li {
              font-size: 2.3rem;
              margin: 0.5rem 0;
              a {
                &:hover {
                    color: $wine;
                    transition: 300ms;
                }
              }
          }
      }
      .search-form {
          display: block;
          .search-field {
              width: 90%;
              margin: 2rem auto;
              -webkit-appearance: none; /* add this */
              line-height: 1rem;
              font-size: 1.2rem;
              &::placeholder {
                  font-size: 1rem;
              }
          }
      }
    }
    
      &__logo-container {
        display: none;
        .close-icon {
            margin-top: 1.5rem;
        }
        @media only screen and (max-width: 800px) {
            display: flex;
            justify-content: space-between;
            margin: 0 2rem;
          }
      }
}



[aria-current="page"] {
    color: $wine !important;
    transition: all 200ms;
}